<div class="container main-div">
    <mat-card class="card fullHeight">
        <div class="row">
            <div class="col-lg-3 fullHeight">
                <a [routerLink]="['users']">Users</a><br />
                <a [routerLink]="['getskills']">Skill list</a><br />
                <a [routerLink]="['addskill']">Add skill</a><br />
                <br />
                <button mat-raised-button type="button" (click)="logout()">Log out</button>
            </div>             
            <div class="col-lg-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-card>
</div>