<div class="container main-div">
    <mat-card class="card fullHeight">
        <div class="row">
            <div class="col-lg-3 fullHeight">
                <p>yay</p>
                <a [routerLink]="['getskill']">Skill list</a><br />
                <a [routerLink]="['addskill']">Add skill</a><br />
                <button (click)="logout()">Log out</button>
            </div>             
            <div class="col-lg-9">
                <p>it works?!</p>
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-card>
</div>