.center {
  text-align: center;
  border: 1px solid gray;
}

.centernoborder {
  text-align: center;
}

.error-messages {
  margin-top: -10px;
  margin-bottom: 20px;
}

.error-message {
  color: red;
}  